{% extends "base.html" %}

{% block content %}
    <form id="Customer_Sheet">
        <div class="table-responsive">
            <table class="table" id="HrMan">
            <thead>
                <tr>
                    <th scope="col"> Date</th>
                    <th scope="col"> Day</th>
                    <th scope="col"> Team</th>
                    <th scope="col"> Total Daily Revenue</th>
                    <th scope="col"> Man Hours </th>
                    <th scope="col"> Crew Size </th>
                    <th scope="col"> Average $/Hr/Man (Window) </th>
                    <th scope="col"> Average $/Hr. Man (PW) </th>
                    <th scope="col"> Pressure Washing </th>
                    <th scope="col"> Roof Washing</th>
                    <th scope="col"> Reviews</th>
                    <th scope="col"> Diff. Between Hourly & Comm. </th>
                    <th scope="col"> Margin Btwn. Comm. and hourly </th>
                    <th scope="col"> Took Hourly?</th>
                    <th scope="col"> Touch Up</th>
                    <th scope="col"> Field Manager</th>
                    <th scope="col"> Tech1</th>
                    <th scope="col"> Tech2</th>
                    <th scope="col"> Tech3</th>
                    <th scope="col"> Tech4</th>
                    <th scope="col"> Reason for missing </th>
                </tr>
            </thead>


{% endblock %}